.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25%, 50%, 25%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  overflow: hidden;
  float: left;
  width: 100%;
}

.cases {
  float: left;
  width: 50%;
}

.vaccines {
  overflow: hidden;
} 