<!doctype html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>
  <div class="container">
    <div class="header">
      <div id="casesGraph" class="casesGraph"></div>
    </div>
  
  <div class="maps">
    
  </div>

  <div class="footer">
    <div id="vaccinesGraph" class="vaccinesGraph"></div>
  </div>
</body>

<script type="text/javascript">
  var casesGraph    = {{cases | safe}};
  var vaccinesGraph = {{vaccines | safe}};

  Plotly.plot('vaccinesGraph', vaccinesGraph, {});
</script>

</html>