<!doctype html>
<html lang="en">
  {{ js_resources|indent(4)|safe }}
  {{ css_resources|indent(4)|safe }}
  {{ plot_script|indent(4)|safe }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='index.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  
  <head>
    <meta name="viewport" charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>UK Coronavirus Statistics</title>
  </head>

  <body>
    <div class="header">
      <img src="https://media.wired.com/photos/5cdefb92b86e041493d389df/191:100/w_1500,h_785,c_limit/Culture-Grumpy-Cat-487386121.jpg">
    </div>

    <div class="main">
    </div>

    <div class="footer">
      <div class="cases"> 
        {{plot_div.cases|indent(4)|safe }}
      </div>
      <div class="vaccines">
        {{plot_div.vaccines|indent(4)|safe }}
      </div>
    </div>
  </body>
</html>